<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Header</title>
	</head>
	
	<body>
		<div id="header" th:fragment="header" >	
			<nav>
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li><a href="agenda.html">Agenda</a></li>
					<li><a href="beneficios.html">Beneficios y Becas</a></li>
					<li><a href="contacto.html">Contáctanos</a></li>
				</ul>
			</nav>
			<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
			<script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>			
			<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		</div>
	</body>
</html>