@charset "ISO-8859-1";

p {color:black; 
	font-size:15px;
   font-family:Courier;
   font-weight:bold;
   font-style:italic;
   line-height:30px;  
   text-transform:capitalize;
   text-align:left;
   text-indent:30px;
  }
h1 {
	color: orange;
	font-size: 36px;
	text-align: center;
	font-family:Verdana;
	font-style:italic;
	font-size:35px;
}

h2 {
	color: #ff00ff;
	font-size: 36px;
	text-align: center;
	font-family:Arial;
	font-style:italic;
	font-size:25px;
	
}

h3 {
	color:fuchsia;
	font-size: 36px;
	font-family: fantasy;
	font-style:oblique;
	font-size:25px;
}

.principal{
	color:#0000ff;
}

body{
	background-color:#d9d9ff;
	}
	
form {
  position : relative;
  width  : 450px;
  box-sizing: content-box;
  background :silver; 
}

table {
	position : relative;
  border: red 5px solid;
}

a {
	text-decoration: underline;
	 font-family:verdana;
	 font-weight:bold;
}

a:hover {color: red;}
a:active {color: #0000FF;}