<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">	
		<meta charset="utf-8">
		<title>Agenda</title>
	</head>
	<body>
		<header>
			<div th:insert="/layouts/header::header"></div>			
				<h1 align="left">Agenda</h2>
				<img title="Agenda" alt="esta es la agenda" width="250" height="200"				
				src="images/calendario3.png">		
		</header>
		
		<section>
			<p>******************Agenda en Progreso**********************
				Ahora más que nunca, el mundo está buscando "cómo lo hace un
				profesor". Ya sea en el aula o en casa, estamos muy agradecidos con
				todos aquellos que ayudan a que los estudiantes sigan aprendiendo. A
				los profesores de todas partes, gracias por todo lo que hacéis.
				*******************************************************************
				</p>
	
		</section>
		<video controls="controls">
			<source src="videos/introducción.mp4" type="video/mp4">
			
		</video>
		<footer th:replace="/layouts/footer::footer"></footer>
	</body>
</html>