<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
		<link rel="stylesheet" type="text/css" href="css/style.css"/>		
		<meta charset="utf-8">
		<title>Beneficios y Becas</title>
	</head>
	<body>
		<header>
			<div th:insert="layouts/header::header"></div>
			<h1 align="left">Beneficios y Becas</h1>
			<img title="beneficios" alt="Imagen relacionada a beneficios" width="300" height="200"
				src="images/beneficios.jpg">
		</header>
		
		<section>
			<div class="container">
				<div class="row">
					<h3>Lista de Becas</h3>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-10">
						<table class="table table-striped" >
							<tr>
								<th>Codigo</th>
								<th>Curso</th>
								<th>Fecha inicio</th>
								<th>Fecha cierre</th>
								<th>Estado</th>
							</tr>
							<tr th:each="b: ${Becas}">
								<td th:text="${b.codigo}"></td>
								<td th:text="${b.curso.titulo}"></td>
								<td th:text="${b.fechaInicio}"></td>
								<td th:text="${b.fechaCierre}"></td>
								<td th:text="${b.estado}"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<br>
		
			<div class="container">
				<div class="row">
					<h3>Lista de Alumnos</h3>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-10">
						<table class="table table-striped">
							<tr>
								<th>DNI</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Email</th>
								<th>Telefono</th>								
							</tr>
							<tr th:each="a: ${Alumnos}">
								<td th:text="${a.dni}"></td>
								<td th:text="${a.nombres}"></td>
								<td th:text="${a.apellido}"></td>
								<td th:text="${a.eMail}"></td>
								<td th:text="${a.telefono}"></td>								
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>
		</section>
		<footer th:replace="/layouts/footer::footer"></footer>
	</body>
</html>