<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<meta charset="utf-8">
		<title>Registro de Docente</title>
	</head>
	<body>
		<header>
			<div th:insert="/layouts/header::header"></div>			
			<h1 align="center">Alta de Docente</h1>		
		</header>
		<div class="container col-4">
			<form th:action="@{/docente/guardar}" method="POST" th:object="${docente}">
				<div class="mb-3">
					<label  class="form-label">Legajo</label> 
					<input  th:field="*{legajo}" type="number" class="form-control" >
				</div>
				<div class="mb-3">
					<label class="form-label">Nombres</label> 
					<input  th:field="*{nombres}" type="text" class="form-control">
				</div>
				<div class="mb-3">
					<label  class="form-label">Apellidos</label> 
					<input  th:field="*{apellido}" type="text" class="form-control">
				</div>
				<div class="mb-3">
					<label class="form-label">Email</label> 
					<input th:field="*{eMail}" type="email" class="form-control" >
				</div>
				<div class="mb-3">
					<label class="form-label">Teléfono</label> 
					<input th:field="*{telefono}" type="text" class="form-control" >
				</div>
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button class="btn btn-primary me-md-2" type="submit">Guardar</button>
					 <a th:href="@{/home}" class="btn btn-secondary">Cancelar</a>	  				
				</div>
			</form><br><br>
		</div>
		<br><br>
	</body>
</html>>